<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <style>
        /* Estilo personalizado para alinear los elementos desde la derecha */
        .navbar-nav {
            margin-left: auto;
            flex-direction: row-reverse;
        }
        .nav-item {
            margin-right: .5rem;
        }
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Taller CRUD iTalento</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/departamento">Departamento</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="/persona">Personas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/municipio">Municipios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vivienda">Vivienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/propietario">Propietarios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="card m-4 mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <form class="m-4" action="/add" method="post" >
                <fieldset>
                <legend style="text-align: center;">Departamentos</legend>
                <div class="form-group row">
                </div>
                <div class="form-group">
                    <label for="exampleInputid" class="form-label mt-4">Identificación del departamento</label>
                    <input type="id" class="form-control" id="exampleId" aria-describedby="idHelp" placeholder="Ingresa por favor la identificación del departamento">
                    <small id="iddHelp" class="form-text text-muted">Recuerda que la identifiación debe ser única.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label mt-4">Nombre del departamento</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa por favor el nombre del departamento" autocomplete="off">
                    <small id="emailHelp" class="form-text text-muted">Recuerda que hay 32 departamentos en Colombia.</small>
                </div>
                <h1> </h1>
                <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>