<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Municipios</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <style>
        /* Estilo personalizado para alinear los elementos desde la derecha */
        .navbar-nav {
            margin-left: auto;
            flex-direction: row-reverse;
        }
        .nav-item {
            margin-right: .5rem;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Taller CRUD iTalento</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/departamento">Departamento</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="/persona">Personas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/municipio">Municipios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vivienda">Vivienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/propietario">Propietarios</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="card m-4 mx-auto" style="max-width: 500px;">
      <div class="card-body">
        <form class="m-4" action="/add" method="post">
          <fieldset>
            <legend style="text-align: center;">Municipios</legend>
            <div class="form-group row">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label mt-4">Nombre del municipio</label>
              <input type="municipio" class="form-control" id="exampleInputmunicipio" aria-describedby="municipioHelp" placeholder="Ingresa por favor el nombre del municipio">
              <small id="municipioHelp" class="form-text text-muted">Inserta por favor el nombre del municipio.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputarea1" class="form-label mt-4">Escriba el area en numeros</label>
              <input type="area" class="form-control" id="exampleInputarea1" placeholder="Ingresa por favor el area del municipio" autocomplete="off">
              <small id="areaHelp" class="form-text text-muted">Por favor ingresa la cantidad numerica del area.</small>
            </div>
            <div class="form-group">
              <label for="examplePresupuestp1" class="form-label mt-4">Escriba el presupuesto en numeros</label>
              <input type="presupuesto" class="form-control" id="exampleInputPresupuesto1" placeholder="Ingresa por favor el presupuesto del municipio" autocomplete="off">
              <small id="presupuestoHelp" class="form-text text-muted">Por favor ingresa la cantidad numerica del presupuesto.</small>
            </div>
            <div class="form-group">
              <label for="exampleidentificacion1" class="form-label mt-4">Escriba la identificacion del gobernador</label>
              <input type="identificacion" class="form-control" id="exampleInputidentificacion" placeholder="Ingresa por favor la identificacion del gobernador" autocomplete="off">
              <small id="identificacionHelp" class="form-text text-muted">Por favor ingresa la identificacion del gobernador.</small>
            </div>
            <h1> </h1>
            <button type="submit" class="btn btn-primary">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
</body>
</html>